# Node dependencies & logs
node_modules/
.DS_Store
*.log
.system_generated/

# Ignore unrelated desktop python, arduino, platform-tools scripts
*.py
*.ino
*.sh
*.pkt
*.pdf
*.zip
*.deb
*.AppImage
*.docx
*.doc
*.png
*.jpg
*.jpeg
__pycache__/
*.pyc
arduino_l293d_test/
esp32_anime_girl/
esp32_audio_player/
esp32_deskbuddy/
esp32_i2c_scanner/
esp32_l293d_test/
esp32_matrix_wifi/
esp32_oled_animations/
esp32_oled_messenger/
esp32_oled_phone_control/
esp32_oled_robot_eyes/
esp8266_lcd_direct/
esp8266_lcd_hacker/
esp8266_oled_messenger/
esp8266_scanner/
hacker_dashboard_web/
platform-tools/
pokemon-db/
dist/
latest.json
